name: Build with Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # 1. 찌꺼기 파일 청소
      - name: Clean previous builds
        run: rm -rf .buildozer bin

      # 2. 도커를 이용한 빌드
      - name: Build APK with Docker
        uses: docker://kivy/buildozer:latest
        with:
          # [수정됨] 앞에 'buildozer' 단어를 빼고 'android debug'만 적습니다.
          args: android debug
        env:
          # 루트 권한 경고 무시 (필수)
          BUILDOZER_WARN_ON_ROOT: 0

      # 3. 파일 권한 수정
      - name: Fix Permissions
        run: |
          sudo chown -R $USER:$USER bin

      # 4. 결과 업로드
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
